Tell Jose that I love him!
Tell Tabby that I love him!
Tell Daniel that I love him!
Tell Lily that I love her!
List grade school English teachers.
Discuss amortization with GPT-4o.
Check out xkcd.com.
Organize App Academy folder.
Optimize environment PATH values.
Look into Grammarly.
Look at the learning videos in W1D4 Homework.
Talk to Jose about the Planning Fallacy.
Check out DJ Witek.
Check out the communication styles on App Academy.
Add difficulty levels for the Number Guessing Game.
Read more about hash tables from App Academy's first lesson on hash tables.
Check out Lucid.
Legal Services - 888-576-5529.
Look up the executive summary or preview of the Book of Ecclesiastes in Sarah's Bible.
Ask Jose if he knows one of my tickle spots that I know of.
