Tell Jose that I love him!
Tell Tabby that I love him!
Tell Daniel that I love him!
Tell Lily that I love her!
List grade school English teachers.
Discuss amortization with GPT-4o.
Check out xkcd.com.
Organize App Academy folder.
Optimize environment PATH values.
Look into Grammarly.
Look at the learning videos in W1D4 Homework.
Talk to Jose about the Planning Fallacy.
